.banner {
    color: white;
    object-fit: contain;
    height: 450px;
}

.banner__content {
    margin-left: 30px;
    padding-top: 140px;
    height: 200px;
}

.banner__title {
    font-size: 3em;
    font-weight: 800;
    padding-bottom: 0.3rem;
}


.banner__description {
    width: 45em;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    max-width: 360px;
    height: 80px;
}